.suscribe {
    background-image: url(../../img/suscribe-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 384px;
}
.suscribe__wrapper{
    padding: 80px 0;
}
.suscribe__title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    color: #fff;
}
.suscribe__text {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #fff;
    @include mobile {
        display: none;
    }
}
.suscribe__form {
    text-align: center;
}
.suscribe__form-input {
    background-color: #fff;
    border-radius: 4px;
    width: 642px;
    height: 66px;
    @include tablet {
        margin-bottom: 20px;
    }
}
.suscribe__form-input::placeholder{
    padding-left: 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: rgba(0, 0, 0, 0.34);
}
.suscribe__form-btn {
    font-weight: 700;
    font-size: 22px;
    color: #603809;
    border-radius: 4px;
    width: 137px;
    height: 66px;
    background: #f9c06a;
}

@media (max-width: 870px) {
    .suscribe__title {
        font-size: 40px;
    }
    .suscribe__text{
        font-size: 16px;
    }
    .suscribe__form-input{
        width: 600px;
    }
}

@media (max-width: 640px){
    .suscribe__title {
        font-size: 30px;
    }
    .suscribe__form-input{
        max-width: 400px;
    }
}

@media (max-width: 440px){
    .suscribe__form-input{
        max-width: 100%;
    }
    .suscribe__form-input::placeholder{
        font-size: 16px;
    }
    .suscribe__form-btn{
        font-size: 18px;
        width: 100%;
    }
    .suscribe__form{
        display: flex;
        flex-direction: column;
    }
}